.events {
     width: 70%;
    padding-top: 50px;
    padding-left:50px;
    
}
.venue {
    width: 60%;
    height: 150px;
    padding-top: 50px;
    padding-left: 50px;
}

.img-thumbnail {
    width: 200px;
    height: 200px;
}

.media {
    width: 140px;
    height: 140px;
}
.navigator }
    width:70%;
    padding-top:50px;
    padding-left:50px;
    
}