<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>Sünnipäeva korraldamine v2.0</title>


    <link rel='stylesheet prefetch' href='css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div ng-app="validationApp" ng-controller="mainController">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">


                    <form name="userForm" ng-submit="submitForm()" novalidate>

                        <!-- NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid}">
                            <label>Nimi</label>
                            <input type="text" name="name" class="form-control" ng-model="user.name" required>
                            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Nimi on nõutud.</p>
                        </div>

                        <!-- USERNAME -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid}">
                            <label>Kasutajanimi</label>
                            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
                            <p ng-show="userForm.username.$error.minlength" class="help-block">Kasutajanimi on liiga lühike.</p>
                            <p ng-show="userForm.username.$error.maxlength" class="help-block">Kasutajanimi on liiga pikk.</p>
                        </div>

                        <!-- EMAIL -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid}">
                            <label>E-mail</label>
                            <input type="email" name="email" class="form-control" ng-model="user.email">
                            <p ng-show="userForm.email.$invalid" class="help-block">Sisestage kehtiv e-mail.</p>
                        </div>

                        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Registreeru</button>

                    </form>
                </div>

            </div>
        </div>

        <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
        <script src='http://code.angularjs.org/1.2.6/angular.js'></script>

        <script src="js/login.js"></script>

</body>

</html>